<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
  </head>
  <body class="page-{{ page.body_class | default: 'default' }}">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {% include header.html %}
    <main id="main-content" tabindex="-1">{{ content }}</main>
    {% unless page.hide_cta %}{% include cta.html %}{% endunless %}
    {% include footer.html %}
    <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
  </body>
</html>

